USE [TestApplication]
GO
/****** Object:  Table [dbo].[MaterialMaster]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ShortText] [nvarchar](100) NULL,
	[LongText] [nvarchar](max) NULL,
	[Unit] [nvarchar](10) NULL,
	[ReorderLevel] [int] NULL,
	[MinOrderQTY] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[MaterialID] [int] NULL,
	[ItemQuantity] [int] NULL,
	[ItemRate] [decimal](18, 2) NULL,
	[ItemNotes] [nvarchar](max) NULL,
	[ExpectedDate] [date] NULL,
	[IsActive] [int] NULL,
	[ItemValue]  AS ([ItemQuantity]*[ItemRate]),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderHeader]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[VendorID] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[OrderValue] [decimal](18, 2) NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[RoleCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorMaster]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[ValidTillDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialMaster] ON 

INSERT [dbo].[MaterialMaster] ([ID], [Code], [ShortText], [LongText], [Unit], [ReorderLevel], [MinOrderQTY], [IsActive]) VALUES (1, N'ABC1234', N'Wireless Mouse', N'A high-quality wireless mouse with ergonomic design and long battery life.', N'pieces', 50, 10, 1)
INSERT [dbo].[MaterialMaster] ([ID], [Code], [ShortText], [LongText], [Unit], [ReorderLevel], [MinOrderQTY], [IsActive]) VALUES (2, N'XYZ1', N'Keyboard', N'This is keyboard', N'2', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MaterialMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMaster] ON 

INSERT [dbo].[RoleMaster] ([RoleID], [RoleName], [RoleCode]) VALUES (1, N'Admin', N'ADMIN')
INSERT [dbo].[RoleMaster] ([RoleID], [RoleName], [RoleCode]) VALUES (2, N'User', N'USER')
SET IDENTITY_INSERT [dbo].[RoleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [UserName], [Password]) VALUES (1, N'Atharva', N'pass123')
INSERT [dbo].[UserMaster] ([UserID], [UserName], [Password]) VALUES (2, N'Ameya', N'pass456')
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleMapping] ON 

INSERT [dbo].[UserRoleMapping] ([ID], [UserID], [RoleID]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoleMapping] ([ID], [UserID], [RoleID]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[UserRoleMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[VendorMaster] ON 

INSERT [dbo].[VendorMaster] ([ID], [Code], [Name], [AddressLine1], [AddressLine2], [ContactEmail], [ContactNo], [ValidTillDate], [IsActive]) VALUES (1, N'V0001', N'Vendor 1.0', N'123 Main St', N'Suite 100', N'vendor1@example.com', N'+1 555-1234', CAST(N'2025-05-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[VendorMaster] OFF
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([MaterialID])
REFERENCES [dbo].[MaterialMaster] ([ID])
GO
ALTER TABLE [dbo].[PurchaseOrderHeader]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[VendorMaster] ([ID])
GO
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleMaster] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoleMapping]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateMaterial]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateMaterial]
    @Code NVARCHAR(50),
    @ShortText NVARCHAR(100),
    @LongText NVARCHAR(255),
    @Unit NVARCHAR(20),
    @ReorderLevel INT,
    @MinOrderQty INT,
    @IsActive BIT
AS
BEGIN
    INSERT INTO MaterialMaster (Code, ShortText, LongText, Unit, ReorderLevel, MinOrderQty, IsActive)
    VALUES (@Code, @ShortText, @LongText, @Unit, @ReorderLevel, @MinOrderQty, @IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePurchaseOrder]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePurchaseOrder]
    @OrderNumber NVARCHAR(50),
    @OrderDate DATETIME,
    @VendorID INT,
    @Notes NVARCHAR(255),
    @OrderValue DECIMAL(18, 2),
    @IsActive BIT
AS
BEGIN
    -- Insert Header
    INSERT INTO [TestApplication].[dbo].[PurchaseOrderHeader]
           ([OrderNumber], [OrderDate], [VendorID], [Notes], [OrderValue], [IsActive])
    VALUES
           (@OrderNumber, @OrderDate, @VendorID, @Notes, @OrderValue, @IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePurchaseOrderDetail]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePurchaseOrderDetail]
    @OrderID INT,
    @MaterialID INT,
    @ItemQuantity INT,
    @ItemRate DECIMAL(18, 2),
    @ItemNotes NVARCHAR(MAX),
    @ExpectedDate DATETIME,
    @IsActive BIT
AS
BEGIN
    INSERT INTO PurchaseOrderDetails (
        OrderID,
        MaterialID,
        ItemQuantity,
        ItemRate,
        ItemNotes,
        ExpectedDate,
        IsActive
    )
    VALUES (
        @OrderID,
        @MaterialID,
        @ItemQuantity,
        @ItemRate,
        @ItemNotes,
        @ExpectedDate,
        @IsActive
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePurchaseOrderDetails]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePurchaseOrderDetails]
    @OrderId INT,
    @MaterialId INT,
    @ItemQuantity INT,
    @ItemRate DECIMAL(18, 2),
    @ItemNotes NVARCHAR(255),
    @ExpectedDate DATETIME,
    @IsActive BIT
AS
BEGIN
    -- Calculate ItemValue based on ItemQuantity and ItemRate
    DECLARE @ItemValue DECIMAL(18, 2) = @ItemQuantity * @ItemRate;

    -- Insert into PurchaseOrderDetails (without explicitly inserting into ItemValue)
    INSERT INTO [PurchaseOrderDetails]
           ([OrderID]
           ,[MaterialID]
           ,[ItemQuantity]
           ,[ItemRate]
           ,[ItemNotes]
           ,[ExpectedDate]
           ,[IsActive])
     VALUES
           (@OrderId, @MaterialId, @ItemQuantity, @ItemRate, @ItemNotes, @ExpectedDate, @IsActive);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePurchaseOrderHeader]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePurchaseOrderHeader]
    @OrderNumber NVARCHAR(50),
    @OrderDate DATETIME,
    @VendorID INT,
    @Notes NVARCHAR(MAX),
    @OrderValue DECIMAL(18, 2),
    @IsActive BIT,
    @NewOrderId INT OUTPUT
AS
BEGIN
    INSERT INTO PurchaseOrderHeader (OrderNumber, OrderDate, VendorID, Notes, OrderValue, IsActive)
    VALUES (@OrderNumber, @OrderDate, @VendorID, @Notes, @OrderValue, @IsActive)

    SET @NewOrderId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUser]
    @UserName NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    INSERT INTO UserMaster (UserName, Password)
    VALUES (@UserName, @Password)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateVendor]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateVendor]
    @Code NVARCHAR(50),
    @Name NVARCHAR(100),
    @AddressLine1 NVARCHAR(200),
    @AddressLine2 NVARCHAR(200),
    @ContactEmail NVARCHAR(100),
    @ContactNo NVARCHAR(50),
    @ValidTillDate DATETIME,
    @IsActive BIT
AS
BEGIN
    INSERT INTO VendorMaster (Code, Name, AddressLine1, AddressLine2, ContactEmail, ContactNo, ValidTillDate, IsActive)
    VALUES (@Code, @Name, @AddressLine1, @AddressLine2, @ContactEmail, @ContactNo, @ValidTillDate, @IsActive);
    SELECT SCOPE_IDENTITY();  -- Return the generated Id of the new vendor
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMaterial]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMaterial]
    @ID INT
AS
BEGIN
    DELETE FROM MaterialMaster
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePurchaseOrder]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePurchaseOrder]
    @Id INT
AS
BEGIN
    -- Mark the Purchase Order as Inactive (soft delete)
    UPDATE [TestApplication].[dbo].[PurchaseOrderHeader]
    SET [IsActive] = 0
    WHERE ID = @Id

    -- Mark the related details as Inactive (soft delete)
    UPDATE [TestApplication].[dbo].[PurchaseOrderDetails]
    SET [IsActive] = 0
    WHERE OrderID = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePurchaseOrderDetail]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePurchaseOrderDetail]
    @DetailID INT
AS
BEGIN
    UPDATE PurchaseOrderDetails
    SET IsActive = 0
    WHERE ID = @DetailID AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteVendor]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteVendor]
    @Id INT
AS
BEGIN
    DELETE FROM VendorMaster
    WHERE ID = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMaterials]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllMaterials]
AS
BEGIN
    SELECT ID, Code, ShortText, LongText, Unit, ReorderLevel, MinOrderQty, IsActive
    FROM MaterialMaster
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPurchaseOrders]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllPurchaseOrders]
AS
BEGIN
 SELECT
        [ID],
        [OrderNumber],
        [OrderDate],
        [VendorID],
        [Notes],
        [OrderValue],
        [IsActive]
    FROM [TestApplication].[dbo].[PurchaseOrderHeader]
    WHERE IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsersWithRoles]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUsersWithRoles]
AS
BEGIN
    SELECT 
        u.UserID,
        u.UserName,
        r.RoleID,
        r.RoleName,
        r.RoleCode
    FROM UserMaster u
    INNER JOIN UserRoleMapping m ON u.UserID = m.UserID
    INNER JOIN RoleMaster r ON r.RoleID = m.RoleID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllVendors]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllVendors]
AS
BEGIN
    SELECT ID, Code, Name, AddressLine1, AddressLine2, ContactEmail, ContactNo, ValidTillDate, IsActive
    FROM VendorMaster;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaterialById]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMaterialById]
    @ID INT
AS
BEGIN
    SELECT ID, Code, ShortText, LongText, Unit, ReorderLevel, MinOrderQty, IsActive
    FROM MaterialMaster
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderById]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPurchaseOrderById]
    @Id INT
AS
BEGIN
    SELECT
        [ID],
        [OrderNumber],
        [OrderDate],
        [VendorID],
        [Notes],
        [OrderValue],
        [IsActive]
    FROM [TestApplication].[dbo].[PurchaseOrderHeader]
    WHERE ID = @Id AND IsActive = 1

    -- Fetch details for the order
    SELECT
        [ID],
        [OrderID],
        [MaterialID],
        [ItemQuantity],
        [ItemRate],
        [ItemValue],
        [ItemNotes],
        [ExpectedDate],
        [IsActive]
    FROM [TestApplication].[dbo].[PurchaseOrderDetails]
    WHERE OrderID = @Id AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderDetails]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPurchaseOrderDetails]
    @OrderId INT
AS
BEGIN
    SELECT
        [ID],
        [OrderID],
        [MaterialID],
        [ItemQuantity],
        [ItemRate],
        [ItemValue],
        [ItemNotes],
        [ExpectedDate],
        [IsActive]
    FROM [TestApplication].[dbo].[PurchaseOrderDetails]
    WHERE OrderID = @OrderId AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderDetailsByOrderId]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPurchaseOrderDetailsByOrderId]
    @OrderId INT
AS
BEGIN
    SELECT 
        ID,
        OrderID,
        MaterialID,
        ItemQuantity,
        ItemRate,
        ItemValue,
        ItemNotes,
        ExpectedDate
    FROM PurchaseOrderDetails
    WHERE OrderID = @OrderId AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderHeaderById]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPurchaseOrderHeaderById]
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id AS Id,
        OrderNumber,
        OrderDate,
        VendorID AS VendorId,
        Notes,
        OrderValue,
        IsActive
    FROM PurchaseOrderHeader
    WHERE ID = @OrderId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRolesByUserId]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRolesByUserId]
    @UserID INT
AS
BEGIN
    SELECT 
        u.UserID,
        u.UserName,
        r.RoleID,
        r.RoleName,
        r.RoleCode
    FROM UserMaster u
    INNER JOIN UserRoleMapping m ON u.UserID = m.UserID
    INNER JOIN RoleMaster r ON r.RoleID = m.RoleID
    WHERE u.UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserID INT
AS
BEGIN
    SELECT UserID, UserName FROM UserMaster WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersWithRoles]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUsersWithRoles]
AS
BEGIN
    SELECT 
        u.UserID,
        u.UserName,
        r.RoleID,
        r.RoleName,
        r.RoleCode
    FROM UserMaster u
    JOIN UserRoleMapping m ON u.UserID = m.UserID
    JOIN RoleMaster r ON r.RoleID = m.RoleID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVendorById]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVendorById]
    @Id INT
AS
BEGIN
    SELECT ID, Code, Name, AddressLine1, AddressLine2, ContactEmail, ContactNo, ValidTillDate, IsActive
    FROM VendorMaster
    WHERE ID = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMaterial]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMaterial]
    @ID INT,
    @Code NVARCHAR(50),
    @ShortText NVARCHAR(100),
    @LongText NVARCHAR(255),
    @Unit NVARCHAR(20),
    @ReorderLevel INT,
    @MinOrderQty INT,
    @IsActive BIT
AS
BEGIN
    UPDATE MaterialMaster
    SET
        Code = @Code,
        ShortText = @ShortText,
        LongText = @LongText,
        Unit = @Unit,
        ReorderLevel = @ReorderLevel,
        MinOrderQty = @MinOrderQty,
        IsActive = @IsActive
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePurchaseOrder]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePurchaseOrder]
    @Id INT,
    @OrderNumber NVARCHAR(50),
    @OrderDate DATETIME,
    @VendorID INT,
    @Notes NVARCHAR(255),
    @OrderValue DECIMAL(18, 2),
    @IsActive BIT
AS
BEGIN
    -- Update Header
    UPDATE [TestApplication].[dbo].[PurchaseOrderHeader]
    SET
        [OrderNumber] = @OrderNumber,
        [OrderDate] = @OrderDate,
        [VendorID] = @VendorID,
        [Notes] = @Notes,
        [OrderValue] = @OrderValue,
        [IsActive] = @IsActive
    WHERE ID = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePurchaseOrderDetail]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePurchaseOrderDetail]
    @DetailID INT,
    @OrderID INT,
    @MaterialID INT,
    @ItemQuantity DECIMAL(18, 2),
    @ItemRate DECIMAL(18, 2),
    @ItemNotes NVARCHAR(500),
    @ExpectedDate DATETIME
AS
BEGIN
    UPDATE PurchaseOrderDetails
    SET 
        OrderID = @OrderID,
        MaterialID = @MaterialID,
        ItemQuantity = @ItemQuantity,
        ItemRate = @ItemRate,  -- Update ItemQuantity and ItemRate (ItemValue will be recalculated)
        ItemNotes = @ItemNotes,
        ExpectedDate = @ExpectedDate
    WHERE ID = @DetailID AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePurchaseOrderDetails]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdatePurchaseOrderDetails]
    @Id INT,
    @OrderId INT,
    @MaterialId INT,
    @ItemQuantity INT,
    @ItemRate DECIMAL(18, 2),
    @ItemNotes NVARCHAR(255),
    @ExpectedDate DATETIME,
    @IsActive BIT
AS
BEGIN
    UPDATE PurchaseOrderDetails
    SET 
        OrderID = @OrderId,
        MaterialID = @MaterialId,
        ItemQuantity = @ItemQuantity,
        ItemRate = @ItemRate,
        ItemNotes = @ItemNotes,
        ExpectedDate = @ExpectedDate,
        IsActive = @IsActive
    WHERE ID = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVendor]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateVendor]
    @Id INT,
    @Code NVARCHAR(50),
    @Name NVARCHAR(100),
    @AddressLine1 NVARCHAR(200),
    @AddressLine2 NVARCHAR(200),
    @ContactEmail NVARCHAR(100),
    @ContactNo NVARCHAR(50),
    @ValidTillDate DATETIME,
    @IsActive BIT
AS
BEGIN
    UPDATE VendorMaster
    SET Code = @Code,
        Name = @Name,
        AddressLine1 = @AddressLine1,
        AddressLine2 = @AddressLine2,
        ContactEmail = @ContactEmail,
        ContactNo = @ContactNo,
        ValidTillDate = @ValidTillDate,
        IsActive = @IsActive
    WHERE ID = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateUserCredentials]    Script Date: 05-05-2025 00:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateUserCredentials]
    @Username NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SELECT UserID, UserName, Password
    FROM UserMaster
    WHERE UserName = @Username AND Password = @Password
END
GO
